/* DogInfo */

.dog-info {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding: 0px 35px;

  min-height: 100vh;
}

.dog-info .header-wrapper {
  margin-bottom: 60px;
}

.dog-info .input-title {
  width: 100%;
  padding-left: 5px;
  color: #766b63;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.dog-info .weight-box {
  display: flex;
  justify-content: flex-start;
  width: 55%;
}

.dog-info .weight-box input {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.dog-info .weight-text {
  margin-top: auto;
  color: #5d524a;
  font-weight: 500;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.dog-info .point {
  font-size: 20px;
}

.dog-info .input-wrapper {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  height: 60vh;
}

.dog-info .btn-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 200px;
}

.dog-info .text-left > input {
  padding-left: 20px;
}

.dog-info .text-center > input {
  text-align: center;
}

.dog-info .header + .input-box {
  margin-top: 50px;
}

/* DogInfo Check */

.dog-info .container {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.dog-info .container input {
  opacity: 0;
  cursor: pointer;
}

.dog-info .check {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #efe7e0;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.5px;
  font-weight: 600;
  color: #837e70;

  width: 100%;
}

.dog-info .container input:checked ~ .check {
  background-color: #665645;
  color: #efe7e0;
}

.dog-info .container:hover input ~ .check {
  background-color: #665645;
}

.dog-info input.check {
  display: none;
}

.dog-info .d-type-box {
  width: 100%;
  height: 35px;

  background-color: #efe7e0;

  color: rgba(102, 86, 69, 0.7);
  margin-left: 10px;
  margin-right: 10px;

  border-radius: 12px;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.dog-info .text {
  padding: 0px 15px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.5px;
  font-weight: 700;
  color: gray;

  width: 85%;
}

.dog-info .arrow {
  display: flex;
  font-size: 15px;
}
