/* MyQuestion */

.myquestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #665645;
  margin-top: 30px;

  opacity: 0.3;
}

/* #q0 {
  opacity: 1;
} */

.myquestion .check-list {
  display: flex;
}

.myquestion .label-for-check {
  display: flex;
  align-items: center;
  width: 80%;
}

.myquestion .label-for-check .left-child {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  margin: 0px;
}

.myquestion .label-for-check .right-child {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin: 0px;
}

.myquestion .text-wrapper {
  text-align: center;
  margin: 0px;
  width: 71.6px;
}

.arrow-btn {
  color: white;
  display: flex;
}

.arrow-btn .btn-text-left {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.arrow-btn .btn-text-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
}

.arrow-btn .btn-text-center {
  display: flex;
  width: 55%;
  justify-content: flex-end;
  align-items: center;

  font-weight: 400;
}

.icon-center {
  margin-left: 10px;

  display: flex;
  width: 45%;
  justify-content: flex-start;
  align-items: center;
}

.question .btn-wrapper {
  display: flex;
  justify-content: center;

  padding: 10px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.question .mybutton-arrow-next {
  width: 70%;
}

.question #id0 {
  opacity: 1;
}
